/* applying css */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.nav {
    margin-left: 150px;
    width: 100%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.mainContent{
    padding-top: 10px;
}

h1 {
    text-align: center;
    background-color: #818181;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: lightcoral;
}
ol li{
    padding-left: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.mainContent {
    margin-left: 160px;
    background-color: lightcoral;
    color: white;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
}
p{
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-left: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: skyblue ;
    height: 45px;
    text-align: center;
}